@using Bennington.EmailCommunicationManagement
@using MvcTurbine.ComponentModel
@model Bennington.EmailCommunicationManagement.Models.EmailInputModel

@{
    var thisUserIsASuperUser = ServiceLocatorManager.Current.Resolve<IEmailAdministratorContext>().IsThisUserASuperUser();
}

<fieldset>
    @if (thisUserIsASuperUser)
    {
        <div style="padding-top:20px;"></div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    }
    else
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">@Model.Name</div>
        @Html.HiddenFor(a => a.Name)
    }

    @if (thisUserIsASuperUser)
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.AdministratorInsturctionText)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.AdministratorInsturctionText)
            @Html.ValidationMessageFor(model => model.AdministratorInsturctionText)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.EngineerId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EngineerId)
            @Html.ValidationMessageFor(model => model.EngineerId)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.IsBodyHtml)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsBodyHtml)
            @Html.ValidationMessageFor(model => model.IsBodyHtml)
        </div>
    }
    else
    {
        @Html.HiddenFor(a => a.AdministratorInsturctionText)
        @Html.HiddenFor(a => a.EngineerId)
        @Html.HiddenFor(a => a.IsBodyHtml)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.EngineerId)
        </div>
        <div class="editor-field">@Model.EngineerId</div>
        
        <div class="editor-field">@Html.Raw(Model.AdministratorInsturctionText)</div>
    }

    @if (thisUserIsASuperUser)
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.ShowToField)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShowToField)
            @Html.ValidationMessageFor(model => model.ShowToField)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ShowFromField)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShowFromField)
            @Html.ValidationMessageFor(model => model.ShowFromField)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ShowSubjectField)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShowSubjectField)
            @Html.ValidationMessageFor(model => model.ShowSubjectField)
        </div>
    }
    else
    {
        @Html.HiddenFor(a => a.ShowToField)
        @Html.HiddenFor(a => a.ShowFromField)
        @Html.HiddenFor(a => a.ShowSubjectField)
    }

    @if (Model.ShowToField)
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.ToEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ToEmail)
            @Html.ValidationMessageFor(model => model.ToEmail)
        </div>
    }
    else
    {
        @Html.HiddenFor(a => a.ToEmail)
    }

    @if (Model.ShowToField)
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.CcEmails)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CcEmails)
            @Html.ValidationMessageFor(model => model.CcEmails)
        </div>
    }
    else
    {
        @Html.HiddenFor(a => a.CcEmails)
    }

    @if (Model.ShowBccField)
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.BccEmails)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BccEmails)
            @Html.ValidationMessageFor(model => model.BccEmails)
        </div>
    }
    else
    {
        @Html.HiddenFor(a => a.BccEmails)
    }

    @if (Model.ShowFromField)
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.FromEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FromEmail)
            @Html.ValidationMessageFor(model => model.FromEmail)
        </div>
    }
    else
    {
        @Html.HiddenFor(a => a.FromEmail)
    }

    @if (Model.ShowSubjectField)
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
        </div>
    }
    else
    {
        @Html.HiddenFor(a => a.Subject)
    }

    <div class="editor-label">
        @Html.LabelFor(model => model.BodyText)
    </div>
    <div class="editor-field">
        @if (Model.IsBodyHtml)
        {
            @Html.EditorFor(model => model.BodyText)
        }
        else
        {
            @Html.TextAreaFor(model => model.BodyText)
        }
        
        @Html.ValidationMessageFor(model => model.BodyText)
    </div>

</fieldset>