@using Bennington.ContentTree.Models
@{ Layout = "~/Views/Shared/Blank.cshtml"; }
@model Bennington.ContentTree.TreeManager.Models.TreeBranchViewModel
    
	@foreach (var treeNode in Model.TreeNodeSummaries) {
		<li id="@treeNode.ContentTreeNode.Id" class="@(treeNode.ContentTreeNode.HasChildren ? "jstree-closed" : string.Empty)">
            <span class="name"><a href="@Url.Action(treeNode.ContentTreeNode.ActionToUseForModification, treeNode.ContentTreeNode.ControllerToUseForModification, treeNode.ContentTreeNode.RouteValuesForModification)"><img src="@Url.Content("~")@treeNode.ContentTreeNode.IconUrl" alt="@treeNode.ContentTreeNode.Name" />@treeNode.ContentTreeNode.Name</a></span>
            <span class="tree-meta">
                <span class="tools">
			        <span class="noicon">
				        <a href="#TB_inline?height=155&width=300&inlineId=createFormContainer&modal=false" class="thickbox" onclick="$('#TreeNodeCreationInputModel_ParentTreeNodeId').val('@treeNode.ContentTreeNode.Id');$('#createInRootLink').click();"><img src="@Url.Content("~/Content/TreeManager/PlusSign.gif")" alt="Create a child" /></a>
			        </span>                
                </span>
                <span class="last-updated-date">@treeNode.ContentTreeNode.LastModifyDate</span>
                <span class="last-updated-by">@(treeNode.ContentTreeNode.LastModifyBy ?? "Unknown")</span>
                <span class="active">@(treeNode.ContentTreeNode.Active ? "Active" : "Inactive")</span>
            </span>
		</li>
	}
